{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Bitter|Bree+Serif&display=swap" rel="stylesheet">
    <title>Buscar Cupom</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'Css/BuscarCupons.css' %}" />
</head>
    <body>        
        <header>
            <h1 id="title">HOK Library</h1>
            <a href="{% url 'menuCupom'%}" class="Flex-3">Voltar</a> 
        </header>
        <div class="box">
            <div class="container" >
                <form method="post">
                {% csrf_token %}
                  <h1>Buscar Cupom</h1> 
                  <p> 
                    <label for="nomeCupom">Nome</label>
                    <input id="nomeCupom" name="nomeCupom" required="required" type="text" placeholder="Ex: nomeCupom"/>
                  </p>

                <div class="Flex">
                    <input type="submit" value="Buscar" />
                    <a href="{% url 'menu'%}" class="Flex-2">Menu Principal</a> 
                </div>

                </form>
            </div>  
        </div>
    </body>
    <footer>
        <h4>Software desenvolvido por HOK Group - Versão 1.0 - 2019</h4>
    </footer>    
</html>





