header{
    width:100%;
    height: 20%;
    background-color: #273c75;
    margin-bottom: 3%;
    color:#dcdde1;
    /*border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;*/
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 4px 2px #2d3436;
}

#title{
    text-align: center;
    margin-left: 10%;
}


body{
    background-color: #95a5a6;
    font-family: 'Bitter', serif;
    color:#dcdde1;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-image: url("teste2.jpg");
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.teste1{
    /*background-color: #95a5a6;*/
    height: 100%;
    width: 50%;
    padding-bottom: 5%;
    padding-top: 5%;
    justify-items: center;
    text-align: center;
}

h1{
    text-align: center;
}

.teste2{
    border-left-style: solid;
    border-left-color: #dcdde1;
    border-width: 1px;
    /*background-color: #95a5a6;*/
    height: 100%;
    width: 50%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.Flex{
    padding-bottom: 5%;
    padding-top: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#subtitle{
    margin-top: 12%;
}

.Flex-1{
    width: 50%;
    height: 100%;
    color: #dcdde1;
    text-decoration: none;
    font-weight: bold;
    background-color: #192a56;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 10%;
    border: 1px solid #1e272e;
    text-align: center;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
   
    -webkit-border-radius: 4px;
    border-radius: 10px;  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
}




.Flex-1:hover {
    color: #192a56;
    background-color: #dcdde1;
    text-decoration: none;
}

.Flex-2{
    position: relative;
    color: #dcdde1;
    margin-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 0.2%;
    padding-top: 0.2%;
    margin-bottom: 1.9%;
    height: auto;
    margin-left: 68%;
    text-decoration: none;
    font-weight: bold;
    background-color: #d63031;
    border: 1.5px solid #353b48;
    text-align: center;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 4px;
    border-radius: 10px;  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
}

.Flex-2:hover{
    color: #192a56;
    background-color: #dcdde1;
    text-decoration: none;
}

footer{
    width:100%;
    margin-top: 3%;
    background-color: #273c75;
    color:#dcdde1;
    font-family: 'Bitter', serif;
    padding-top: 1.1%;
    padding-bottom: 1.1%;
    /*border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px -1px 5px 1px #2d3436;
}